* {
  box-sizing: border-box;
}


css grid stuff to modify before using
main {
  width: 80%;
  margin: 3rem auto;
}


html{
  background-color: beige;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;

}

#images {
  margin: auto;
  width: auto;
}
